/* CompileButton.css */

.button {
    display: flex;
    align-items: center;
    background-color: #8B0000; /* Color del botón */
    color: white;
    padding: 0.5em 1em; /* Unidades relativas para padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Arial', sans-serif; /* Fuente del texto */
    font-weight: bold;
    font-size: 1.0rem; /* Unidades relativas para font-size */ /* Transición suave */
  }
  
  .icon {
    margin-right: 0.5em; /* Unidades relativas para margin */
  }
  