.grid-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh; /* Altura completa de la ventana */
    width: 100vw;  /* Ancho completo de la ventana */
    text-align: left !important;
}

.editor {
    transform: translateY(6.50vh);
}
  
.CodeMirror {
    width: 100%;  /* Ancho completo del contenedor */
    height: 100%; /* Altura completa del contenedor */
    text-align: left !important;
}  

.input {
    position: absolute;
    margin-top: 20px;
    width: 35.9%;
    height: 47vh; 
    transform: translateY(4.90vh) translateX(64vw);
}

.output {
    position: absolute;
    width: 35.9%;
    height: 44.9vh; 
    transform: translateY(54.50vh) translateX(64vw);
}