.grid-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh; /* Altura completa de la ventana */
    width: 100vw;  /* Ancho completo de la ventana */
    text-align: left !important;
}

.editor {
    transform: translateY(6.50vh);
}
  
.CodeMirror {
    width: 100%;  /* Ancho completo del contenedor */
    height: 100%; /* Altura completa del contenedor */
    text-align: left !important;
}  

.input {
    position: absolute;
    margin-top: 20px;
    width: 35.9%;
    height: 48vh; 
    transform: translateY(4.50vh) translateX(64vw);
}

.output {
    position: absolute;
    width: 35.9%;
    height: 44.9vh; 
    transform: translateY(54.50vh) translateX(64vw);
    overflow-y: auto; /* Permite desplazamiento vertical */
    overflow-x: hidden; /* Oculta el desplazamiento horizontal */
}


.buttonCompile{
    transform: translate(-100%, 50%); /* Unidades relativas para translate */
    transition: transform 0.3s ease;
}


/* Estilos para el texto CompiScript */
.header-text {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2rem; /* Tamaño de fuente inicial */
    color: #F6B17A; /* Color del texto */
    font-family: 'Arial', sans-serif; /* Fuente del texto */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(121, 26, 26, 0.5); /* Sombra para el texto */
    margin: 0; /* Elimina margen */
  }
  
  @media (max-width: 600px) {
    .header-text {
      font-size: 1.5rem; /* Ajusta el tamaño de fuente en pantallas pequeñas */
    }
  }
  
  @media (max-width: 400px) {
    .header-text {
      font-size: 1.2rem; /* Ajusta el tamaño de fuente en pantallas muy pequeñas */
    }
  }